@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("../images/bg-pics/bg-header.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
.nav .main nav .logo {
  padding: 3px 10px;
}

nav ul li {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: transparent;
}
nav ul .menu-items {
  padding: 3px 15px;
}

nav ul .menu-items a {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.hero {
  min-height: 82vh;
}

.hero .hero-content {
  max-width: 50%;
  padding: 70px 0 80px 120px;
}
.hero .hero-content h2 {
  font-size: 80px;
  font-weight: 800;
  color: white;
  max-width: 93%;
}
.hero .hero-content p {
  max-width: 70%;
  font-size: 16px;
  color: white;
}

.hero .hero-content .btn {
  padding: 30px 0;
}
.hero .hero-content .hero-btn {
  color: black;
  background-color: #ffcc33;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

.section1 {
  padding: 50px 0 50px 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section1 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .leaf img {
  max-width: 70px;
}
.section1 div h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}
.section1 .description {
  color: #666666;
  max-width: 40%;
  text-align: center;
  font-size: 15px;
}

.section1 .cards-swipe {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
  padding: 40px 120px;
  max-width: 100%;
}

.section1 .cards-swipe .cards {
  min-width: 24%;
  max-width: 25%;
  min-height: 20px;
  text-align: center;
}
.section1 .cards-swipe .cards .card-img {
  max-width: 100%;
  min-height: 220px;
  padding: 0 0 20px 0;
}
.section1 .cards-swipe .cards h4 {
  color: white;
  font-size: 20px;
  padding: 0 0 20px 0;
}
.section1 .cards-swipe .cards p {
  color: white;
  font-size: 14px;
  padding: 0 0 20px 0;
}
.section1 .cards-swipe .cards .price {
  color: #ffcc33;
  font-size: 17px;
  font-weight: 700;
}

.section1 .arrows {
  display: flex;
  font-size: 16px;
  color: white;
  column-gap: 35px;
}

.section2 {
  background-image: url("../images/bg-pics/section2.jpg");
  max-width: 100%;
}
.section2 .mask {
  background-color: rgba(0, 0, 0, 0.86);
  padding: 70px 120px 80px 120px;
  display: flex;
}
.section2 .mask .video {
  max-width: 26%;
  position: relative;
}
.section2 .mask .video .img img {
  max-width: 100%;
  max-height: 100%;
}

.section2 .mask .video a i {
  font-size: 50px;
  color: #ffcc33;
  position: absolute;
  top: 50%;
  left: 40%;
  right: 50%;
}

.section2 .heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section2 .leaf img {
  max-width: 80px;
}
.section2 div h2 {
  color: white;
  font-size: 35px;

  line-height: 1em;
  max-width: 96%;
}
.section2 .video-text {
  padding: 0px 0 0 20px;
  max-width: 50%;
}
.section2 .video-text p {
  color: #878787;
  padding: 20px 0 0 20px;
  max-width: 90%;
  font-size: 14px;
}

.section2 .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section2 .icons .iconlist {
  text-align: center;
}
.section2 .mask .video-text .icons .iconlist img {
  max-width: 50%;
  padding: 20px;
}
.section2 .mask .video-text .icons .iconlist p {
  text-align: center;
  padding: 0 0 0 20px;
}

.section2 .icons .iconlist .icon-text {
  text-align: center;
  color: white;
}

.section3 {
  background-image: url("../images/bg-pics/bg-offer.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 31px;
  color: white;
  padding: 70px 0 80px 120px;
}

.section3 a {
  color: black;
  background-color: #ffcc33;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.section4 {
  padding: 72px 110px 40px 135px;
  background-color: black;
  position: relative;
}

.section4 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section4 .leaf {
  max-width: 70px;
  position: absolute;
  top: 65px;
  left: 400px;
}
.section4 div h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}
.section4 .heading p {
  color: #666666;
  max-width: 40%;
  text-align: center;
  font-size: 15px;
}
.section4 .cards-swipe {
  color: white;
  max-width: 93%;
  display: flex;
  justify-content: center;
}
.section4 .cards-swipe .card {
  color: white;
  text-align: center;
  max-width: 25%;
  padding: 20px 0 0 20px;
}
.section4 .cards-swipe .card .chef-img img {
  max-width: 100%;
}
.section4 .cards-swipe .card .icons i {
  font-size: 20px;
  padding: 20px 10px;
  color: #ffcc33;
}

.section5 {
  background-image: url("../images/bg-pics/section2.jpg");
}
.section5 .mask {
  background-color: rgba(0, 0, 0, 0.863);
  padding: 73px 110px 60px 110px;
  position: relative;
}

.section5 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section5 .leaf {
  max-width: 70px;
  position: absolute;
  top: 65px;
  left: 300px;
}
.section5 div h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}
.section5 .row1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.section5 .row1 a {
  color: black;
  background-color: #ffcc33;
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
}

.section5 .row2 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.section5 .row2 .card {
  max-width: 20%;
}
.section5 .row2 .card img {
  max-width: 100%;
  min-height: 220px;
}
.section5 .row2 .card h3 {
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  color: white;
}
.section5 .row2 .card p {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #878787;
}
.section5 .row2 .card .price {
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  color: #ffcc33;
}

.section6 {
  background-color: rgb(0, 0, 0);
  padding: 73px 120px 60px 120px;
  position: relative;
}

.section6 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section6 .leaf {
  max-width: 70px;
  position: absolute;
  top: 65px;
  left: 400px;
}
.section6 div h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}
.section6 .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 0px;
  padding: 40px 0px;
}
.section6 .images .row {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0px;
}
.section6 .images .row .items {
  max-width: 35%;
}
.section6 .images .row .items a {
  padding: 0px;
  margin: 0px;
}
.section6 .images .row .items a img {
  max-width: 100%;
}

.section7 {
  background-image: url("../images/bg-pics/section2.jpg");
  max-width: 100%;
}
.section7 .mask {
  background-color: rgba(0, 0, 0, 0.747);
  padding: 70px 110px 80px 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.section7 .mask .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section7 .mask .leaf {
  max-width: 70px;
  position: absolute;
  top: 65px;
  left: 400px;
}
.section7 .mask div h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}

.section7 .mask .main {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section7 .mask .main .form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.section7 .mask .main .row1 {
  padding-top: 27px;
}
.section7 .mask .main .form .info {
  max-width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.section7 .mask .main .form .info label {
  font-size: 18px;
  color: #ffcc33;
}
.section7 .mask .main .form .info input {
  font-size: 18px;
  background-color: rgb(24, 24, 24);
  color: #666666;
  border: 0px;
  padding: 10px;
  margin: 15px 0;
}
.section7 .mask .main .form .info #date {
  font-size: 18px;
  background-color: rgb(24, 24, 24);
  color: #666666;
  border: 0px;
  padding: 10px 40px;
  margin: 15px 0;
}
.section7 .mask .main .form .info #time {
  font-size: 18px;
  background-color: rgb(24, 24, 24);
  color: #666666;
  border: 0px;
  padding: 10px 70px;
  margin: 15px 0;
}

.section7 .mask .main .btn a input {
  color: black;
  text-align: center;
  background-color: #ffcc33;
  text-decoration: none;
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

.section7 .mask .timeings {
  background-color: black;
  margin-top: 50px;
  padding: 20px 20px 80px 20px;
  color: white;
}

.section7 .mask .timeings p {
  color: #878787;
  font-size: 16px;
  padding: 20px 0px;
}
.section7 .mask .timeings .about {
  padding: 20px 0px;
}
.section7 .mask .timeings .about .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.section8 {
  background-color: black;
  padding: 70px 110px 80px 110px;
  position: relative;
}

.section8 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section8 .leaf {
  max-width: 70px;
  position: absolute;
  top: 65px;
  left: 400px;
}
.section8 div h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}

.section8 .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  text-align: center;
}
.section8 .row .box h3 {
  color: white;
  font-size: 30px;
}
.section8 .row .box h3 i {
  color: #ffcc33;
}
.section8 .row .box a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.section8 .row .box .phone {
  color: #ffcc33;
  text-decoration: none;
  font-weight: 700;
}
.section8 .row .box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section8 .row .box2 i {
  color: #ffcc33;
  text-decoration: none;
  font-weight: 700;
  padding: 20px;
}

input[type="checkbox"] {
  display: none;
}
/* HAMBURGER MENU  */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  nav .menu-list {
    display: none;
  }

  input[type="checkbox"]:checked ~ .menu-list {
    margin-top: 80px;
    display: block;
    text-align: center;
  }

  nav {
    justify-content: space-between;
  }
  nav .logo {
    padding: 5px 5px;
  }

  .nav ul li {
    display: block !important;
  }
  .menu-list {
    position: absolute;
    top: 30px;
    width: 100%;
    background: black;
  }
  .menu-list ul li {
    display: block;
    width: 90%;
  }
  .menu-list ul li a {
    display: block;
    width: 100%;
    color: black;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #8c9597;
    padding: 10px 0px;
  }
  .hamburger {
    position: absolute;
    display: block;
    color: #fff;
    top: 3%;
    left: 84%;
  }

  .hero .hero-content {
    padding: 70px 50px 80px 50px;
    max-width: 75%;
  }
  .hero .hero-content h2 {
    font-size: 48px;
  }
  .hero .hero-content p {
    font-size: 14px;
  }

  .hero .hero-content .hero-btn {
    font-size: 16px;
  }

  .section1 .description {
    min-width: 78%;
  }
  .section1 .cards-swipe {
    padding: 40px 50px;
    flex-wrap: wrap;
    align-items: center;
  }
  .section1 .cards-swipe .cards {
    max-width: 48%;
  }

  .section2 .mask {
    flex-direction: column-reverse;
    padding: 70px 50px 80px 50px;
  }

  .section2 .video-text {
    max-width: 100%;
  }
  .section2 .mask .video {
    max-width: 100%;
  }
  .section2 .mask .video a i {
    left: 50%;
  }

  .section3 {
    font-size: 20px;
  }
  .section3 a {
    font-size: 20px;
  }

  .section4 .leaf {
    left: 150px;
  }

  .section4 .heading p {
    min-width: 95%;
    padding-top: 10px;
  }

  .section4 div h2 {
    font-size: 25px;
  }

  .section4 .cards-swipe .card {
    min-width: 29%;
  }

  .section4 .cards-swipe .card .icons i {
    padding: 10px 5px;
  }

  .section5 .row2 {
    /* flex-direction: column;  */
    flex-wrap: wrap;
  }
  .section5 .mask {
    padding: 73px 50px 60px 50px;
  }

  .section5 .row2 .card img {
    min-height: 190px;
  }
  .section5 .row2 .card {
    max-width: 32%;
  }

  .section5 .row1 {
    flex-wrap: wrap;
  }
  .section5 .row1 a {
    margin-top: 20px;
  }
  .section6 {
    padding: 73px 50px 60px 50px;
  }
  .section5 .leaf {
    left: 160px;
  }
  .section6 .leaf {
    left: 190px;
  }
  .section7 .mask .leaf {
    left: 150px;
  }

  .section7 .mask .main .form {
    flex-direction: column-reverse;
  }

  .section8 .leaf {
    left: 215px;
  }

  .section8 .row {
    flex-wrap: wrap;
  }
  .section8 .row .box {
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .hero .hero-content {
    padding: 70px 15px 80px 15px;
    max-width: 100%;
  }
  .section1 .cards-swipe .cards .card-img {
    min-width: 100%;
  }
  .hero .hero-content p {
    max-width: 90%;
  }

  .section1 .cards-swipe {
    padding: 40px 20px;
  }

  .section2 .mask {
    padding: 70px 15px 80px 15px;
  }

  .section2 .icons {
    flex-direction: column;
    padding: 10px 0px;
    text-align: center;
  }

  .section2 .video-text p {
    padding: 10px 0;
  }

  .section1 {
    padding: 50px 15px 50px 15px;
  }

  .section1 .cards-swipe .cards {
    max-width: 100%;
  }

  .section1 .leaf img {
    display: none;
  }
  .section2 .leaf img {
    display: none;
  }
  .section4 .leaf {
    display: none;
  }
  .section5 .leaf {
    display: none;
  }

  .section6 .leaf {
    display: none;
  }
  .section7 .mask .leaf {
    display: none;
  }

  .section8 .leaf {
    display: none;
  }

  .section3 {
    padding: 70px 15px 80px 15px;
  }
  .section4 {
    padding: 72px 15px 40px 15px;
  }
  .section4 .cards-swipe {
    flex-direction: column;
    max-width: 100%;
  }
  .section4 .cards-swipe .card {
    padding: 20px 0px;
    max-width: 100%;
  }

  .section5 .mask {
    padding: 73px 15px 60px 15px;
  }

  .section5 .row2 {
    flex-direction: column;
  }

  .section5 .row2 .card {
    max-width: 100%;
  }

  .section5 .row2 .card img {
    min-width: 100%;
  }

  .section6 {
    padding: 73px 15px 60px 15px;
  }

  .section7 .mask {
    padding: 73px 15px 60px 15px;
  }

  .section8 {
    padding: 73px 15px 60px 15px;
  }
  .section8 .row {
    padding: 20px;
  }

  .section7 .mask .main {
    flex-direction: column;
  }

  .section2 .video-text {
    padding: 10px 0 10px 0;
  }
}
